[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lava"]
	path = lava
	url = https://github.com/kkholst/lava
[submodule "mets"]
	path = mets
	url = https://github.com/kkholst/mets
[submodule "targeted"]
	path = targeted
	url = https://github.com/kkholst/targeted
